{% extends "base.html" %}
{% block content%}
<div class="content" style="margin-left: 10%">
    <center><h4>¿Quienes somos?</h4></center><br>
    <br>Somos una empresa dedicada a la reparación de diversos dispositivos electrónicos, tales como: celulares, computadores (escritorio y portatil), tablet, audifonos,<br>entre otros dispositivos. Nuestra misión es entregar un servicio de calidad a nuestros clientes, como también, dejar contentos a los clientes en cuanto a la<br>reparación de sus dispositivos electrónicos.
</div>
{% endblock %}